@{
    ViewData["Title"] = "Guild Wars 2";
}
    <fieldset>
        @using (Ajax.BeginForm("GW2", "Home",
                               new AjaxOptions { UpdateTargetId = "divInterestDeatils" }))
        {
            <div id="divInterestDeatils"></div>
            <br />
            <br />
            @Html.Label("Please enter API Key ")
            <text>&nbsp;</text>
            @Html.TextBox("apiKey")
            <text>&nbsp;</text>

            <button>Submit</button>
        }
    </fieldset>
    @*<a href="../../AccountGW2/Account" style="color: black; font-size: medium; text-decoration: none;">GW2W</a>*@
