@{
    ViewBag.Title = "Rich Website V2";
}


<html>
<head>
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        .imgbox {
            display: grid;
            height: 100%;
        }

        .center-fit {
            max-width: 100%;
            max-height: 100vh;
            margin: auto;
        }
    </style>
</head>
<body>
    <div class="imgbox">
        <!--Source: https://avante.biz/wp-content/uploads/Guild-Wars-2-Wallpaper/Guild-Wars-2-Wallpaper-004.html -->
        <img class="center-fit" src="~/GW2bg.jpg" />
    </div>
</body>
</html>
